<ion-view>
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button" onclick="window.location.href='#/bar-client'">voltar</button>
		</div>
		<h1 class="title">Assinatura</h1>
	</ion-header-bar>
	<ion-content>
	<div id="assinaturaContainer">
	<img>{{signature}}</img>
	<p>{{signature}}</p>
	<canvas id="signatureCanvas" width="800px" height="400px" style="width:100%; background:#F5F5DC;border=1px solid black">
	</canvas>
		<button class="redBtn" ng-click="clearCanvas()">Apagar assinatura</button>
		<button class="greenBtn" ng-click="salvarCestaDeCompras()">Confirmar assinatura</button>
	</div>
	</ion-content>
</ion-view>
