/* Empty. Add your own CSS if you like */

/* menu.html */
#menuContainer {
	font-size:22px;	
}

/* Checkin */
#checkinContainer {
	height:100%;
	padding:20px;
}

#checkinContainer label {
	padding:20px;
}

#checkinContainer input, select {
	height:40px;
	width:100%;
	font-size:20px;
	padding:10px;
	font-size:18px;	
	border:solid 1px;
	border-color: #ccc;
	border-radius:2px;
	margin-bottom:10px;
}

#checkinContainer label {
	margin-bottom:10px;
}

#checkinContainer input[type='submit'] {
	padding:5px 15px; 
	background:#00DB0C; 
	border:0 
	none;
	width:100%; 
	height:45px;
	font-size:20px;
	color:#fff
}

/* history.html */
#historicoContainer {
	padding:20px;
}

#historicoContainer input {
	height:40px;
	width:100%;
	font-size:20px;
	padding:10px;
	font-size:18px;	
	border:solid 1px;
	border-color: #ccc;
	border-radius:2px;
	margin-bottom:10px;
}

#historicoContainer input[type="submit"] {
	padding:5px 15px; 
	background:#00DB0C; 
	border:0 
	none;
	width:100%; 
	height:45px;
	font-size:20px;
	color:#fff
}
#historicoContainer .even {
	font-size:22px;
	padding:20px;
}
#historicoContainer .odd {	
	font-size:22px;
	padding:20px;
	background: #eee;	
	border: solid 2px #ccc;
}

/* checkout.html */
.checkoutContainer {
        padding:20px;
        font-size:18px;
}

.checkoutContainer.odd {
        background:#eee;
}

.checkoutContainer span {
        font-weight:bold;
}

.checkoutContainer input[type="submit"] {
	padding:5px 15px;
        background:#00DB0C;
        border:0
        none;
        width:100%;
        height:45px;
        font-size:20px;
        color:#fff
}

/* confirmar-checkout.html */
#confirmarCheckoutContainer {
	padding:20px;
	font-size:18px;		
}

#confirmarCheckoutContainer input[type="submit"] {
	margin:20px 0;
	padding:5px 15px;
        background:#00DB0C;
        border:0
        none;
        width:100%;
        height:45px;
        font-size:20px;
        color:#fff
}

#confirmarCheckoutContainer span {
	font-weight:bold;
}

/* bar.html */
#newBarClientBtn  {
	border:none
}
.barContainer span {
	font-weight:bold;
}

.barContainer.odd {
        font-size:22px;
}

.barContainer.even {
	font-size:22px;
}

.barContainer button {
	margin:30px 0;
}

/* bar-client.html */

#barClientButtons {
	padding:20px;
}
#resetProdutosBar, #salvarProdutosBar, #resumoProdutosBar {
	margin:10px 0px;
	background:#00DB0C;
	border:0
	none;
	width:100%;
	height:60px;
	font-size:25px;
	color:#fff;
	float:left;
	font-weight:bold;
}

#resetProdutosBar {
	background:red;
}

#resumoProdutosBar {
	background:#00CCFF;
}

.barClientContainer li {
	font-size:22px;
	height:70px;
	padding: 25px 0 0 50px;
}

.barClientContainer .title {
	margin:0 -20px;
	padding:0;
}

.barClientContainer .qty {
	float:right;
	margin-right:150px;
}

.barClientContainer .preco {
	float:right;
	width:200px;
}

.barClientContainer span {
	font-weight:bold;
}	

#barClientNome {
	width:100%;
	padding:15px;
	height:60px;
	text-align:center;
}

#resumoBar {
	width:100%;
	background:none;
	border:none;
	font-size:20px;
	color:#fff;	
}

#barNovoClientContainer {
	padding:20px;
}

#barNovoClientContainer input, select {
        height:40px;
	width:100%;
	font-size:20px;
	padding:10px;
	font-size:18px;
	border:solid 1px;
	border-color: #ccc;
	border-radius:2px;
	margin-bottom:10px;
}

#barNovoClientContainer input[type='submit'] {
	padding:5px 15px;
	background:#00DB0C; 
	border:0 
	none;
	width:100%; 
	height:45px;
	font-size:20px;
	color:#fff
}

/* bar-resumo-client.html */

#barResumoHeader {
	clear:both;
}

.barResumoContainer li {
	font-size:22px;
}

.barResumoContainer .title {
	float:left;
}

.barResumoContainer .qty {
	margin-right:40px;
	float:right
}

.barResumoContainer .preco {
	float:right
}

.barResumoContainer span {
	font-weight:bold;
}

#resumoConfirmarPagamento {
	margin: 30px 30px;
	padding:5px 15px; 
	background:red; 
	border:0 
	none;
	width:90%; 
	height:60px;
	font-size:25px;
	color:#fff;
	font-weight:bold;

}
